.btns-pages {
    display: flex;
    align-items: center;
}
.inner-btns-pages{
    display: flex;
    align-items: center;
}

.btns-pages > * {
    cursor: pointer;
}

.num-page {
    padding: 5px;
    border: 3px solid #e3c596;
    color: #e3c596;
}

.num-page.num-active {
    border: 3px solid #082eee;
    color: #082eee;
}
.output-Table {
    border: 8px solid #831633;
    color: #e36eb0;
}
.table-danger {
    border: 8px solid #0a057e;
    color: #380309;
    background: #b68a48;
}